h5py==2.8.0
imageio==2.9.0
imagesize==0.7.1
matplotlib==3.0.3
numpy==1.18.5
opencv-python==3.4.3.18
pandas==0.18.1
Pillow==7.2.0
PyYAML==5.1
scikit-image==0.15.0
scikit-learn==0.19.1
scikit-surprise==1.0.4
scipy==1.2.0
six==1.16.0
sklearn==0.0
tensorboardX==1.4
plyfile==0.6